# Python
__pycache__/
*.pyc
.venv/
venv/

# .NET
bin/
obj/
*.user

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.auto.tfvars
terraform.tfvars

# IDE
.vscode/
.idea/

# Env
.env
*.env

# OS
.DS_Store
Thumbs.db
